.editable-cell {
    background-color: rgb(229, 236, 238); 
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .custom-date-picker {
    width: 100% !important;
    max-width: 100rem;
  }

  .icon-circle {
    width: 40px;
    height: 40px;
    background-color: #4e2683;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .less-than,
  .greater-than {
    font-size: 24px;
    color: #fff; /* Icon color */
    transition: color 0.3s ease;
  }
  
  .less-than:hover,
  .greater-than:hover {
    color: #ccc; /* Icon color on hover */
  }
  
  .black-textfield{
    color: black !important;
  }