.facilityBond{
    /* border: 1px solid; */
    text-align: center;
    /* padding: 1rem 1rem; */
    margin: 0rem 5rem;
}

.facilityBond p{
    font-weight: bolder;
    font-size: 30px;
}

.facilityBond span {
    font-size: large;
}