.icon-container {
  text-align: center;
}

.icon-container a,
.icon-container i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}


.quarterSelect{
  display: flex;
  justify-content: space-between;
}

.componentSub{
  /* background-color: aliceblue; */
  /* padding: 18px 20px; */
}

.word-with-line {
    position: relative;
    display: flex;
    /* margin-top: 3rem; */
    justify-content: space-between;
    /* margin-top: 3rem; */
  }

.word-with-line span{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    color: #4e2683;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
}
  
input[type="radio"] {
  margin-right: 10px;
}
/* .word-with-line::after {
    content: "";
    display: block;
    right: -165px;
    width: 13rem;
    bottom: 2.5rem;
    height: 4px;
    position: absolute;
    
    background-color: #4e2683;
  } */
/*
.wordLine::after{
    content: "";
    display: block;
    width: 67%;
    height: 3px;
    background-color: #c2c2c2; 
    position: absolute;
    bottom: 46%;
    left: 24rem;
} */
.activetabColor{
  background-color: #4e2683;
}

.contain {
  padding : 10px ;
  
}
/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0;
  /* background-color: #4e2683; */
  
  /* color: white; */
  padding: 18px;
}
#exTab3 .nav-pills > li > a:focus{
  background-color: #4e2683;
  color: white;
}

.nav-pills{
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  /* padding-top: 17px;
  padding-bottom: 15px; */
}


.activeClickTab{
  height: 80px;
  box-shadow: 0 4px 5px 0 rgba(82, 63, 105, 0.2); /* Set the height of each square as desired */
  }


.activeClickCSS{
  background: #4e2683 !important;
    color: white !important;
    border-radius:0 !important
    /* border-radius: 0; */
}


.nav-link{
  flex-wrap: wrap;
}

.nav-pills button{
  color: black;
}

#exTab3 .tab-content {
  /* color : white; */
  /* background-color: #428bca; */
  padding : 5px 15px;
}

.submitbtn{
  margin-right: 15px;
    background-color: #4e2683;
    border: none;
    color: white;
}

.custom-date-picker {
  width: 100% !important; /* Use !important to ensure it overrides other styles */
  max-width: 100% !important; /* Use !important to ensure it overrides other styles */
}

.subHeading{
  font-weight: bold;
    color: #4e2683;
    font-size: 18px;
    margin-bottom: 0;
}

.input3SubHeading{
  padding: 0 10px;
  margin-top: 10px;
}

/* CSS */
.collapsible {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in-out;
}

.collapsible.show {
  height: auto;
}

.input1Heading{
  display: flex;
    align-items: center;
    /* text-align: center; */
    font-size: 21px;
}