body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: grey; */
    --body-bg-color: #e2e2e2;
    --form-container-bg-color: #ffffff;
    --text-color: #333;
    --border-color: #2e2e2e;
    --button-color:rgb(127 88 254);
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: var(--body-bg-color);
    color: var(--text-color);
    --anchor-tag: rgba(11, 11, 11, 0.84);
    --input-bg: #eee;
}
body.dark-theme {
    --input-bg: #000000;
    --body-bg-color: #000000;
    --form-container-bg-color: #2e2e2e;
    --text-color: #ffffff;
    --border-color: #e0e0e0;
}
.container {

    width: 25rem;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    height: 30rem;
    overflow: hidden;


}
.containerss {

    width: 25rem;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    height: max-content;
    margin-top: 250px;
    overflow: hidden;


}

.form-labels {
    margin-top: 0.3rem;
    margin-bottom: 0rem;
  }
.textfield {
    height:40px;

}
h3{
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 12px;
    font-weight: bold;
}

.email, .pass {
    margin-bottom: 10px;
}

/* .form-group input[type="text"],
.form-group input[type="password"] */
.checkbox {
    display: flex;
    justify-content: flex-end;
}

.labeldiv {
    display: "flex";
    justify-content: "space-between";
    align-items: "center";
} 
.login-button {
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #4e2683;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 12px 5%;
    text-transform: uppercase;
}

.Register-button {
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #4e2683;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 12px 3%;
    text-transform: uppercase;
}

.login-button-reset{
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #4e2683;
    color: #fff;
}

#forgot-pass:hover {
    color: var(--button-color);
}
#forget-password {
    position: absolute;
    background: var(--form-container-bg-color);
    visibility: hidden;
    bottom: -100%;
    width: 50%;
    z-index: 1;
    transition: 1.5s;
    text-align: center;
    }

    .forget-password-visible #forget-password {
        top: 100%;
        visibility: visible;
        transition: 1.5s;
        transform: translateY(-100%);
    }
    #forget-password .login-button {
        background: var(--button-color);
    }
    .forget-password-btn {
        text-decoration: none;
        color: var(--anchor-tag);
        font-size: 15px;
    }

    