

.swal-input-container {
  display: flex;
  margin-bottom: 10px;
}

.swal-label {
  flex: 1;
  margin-right: -28px;
}

.swal-input {
  flex: 2;
}
.swal-label {
  margin-top: 33px;
}

.word-with-line {
  position: relative;
  display: flex;
  /* margin-top: 3rem; */
  justify-content: space-between;
  /* margin-top: 3rem; */
}

.words-with-lines span{
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
  color: black;
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: center;
  
}

.words-with-lines-master span{
  font-weight: bold;
  font-size: 22px;
  margin: 1px 34px;
  color: black;
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: center;
  
}
.words-with-lines {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  color: black;
}


.card {
  height: "max-content";
  background-color: #F6F9FF;
}
.your-component {
  display: flex;
  justify-content: space-between;
  width: 92%;
  height: 80px;
  margin-left: 4rem;
  margin-top: 3rem;
  border: 1.5px solid #E8E8E8;
  background-color: #F8F8F8;
}
.your-link {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: -16rem;
}

.your-link a {
  color: #4e2683;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5rem;
  margin-top: 2rem;
  text-decoration: none; /* Optional: Remove underline from the link */
}

.your-link a i {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  color: black;
}
.custom-box {
  width: 92%;
  height: max-content;
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  font-size: 1rem; /* Adjust according to your needs */
  border: 3px solid #E8E8E8;
  background-color: #FFFFFF;
}

.your-box {
  width: 92%;
  height: 70px;
  margin-left: 4rem;
  border-bottom: 1.5px solid #E8E8E8;
}

.your-box div {
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  color: black;
  font-weight: 500;
}

.your-button-container {
  margin-top: 0.5rem;
  margin-left: 5rem;
  width:130%;
}

.your-button-container button {
  width: 17%;
  height: 45px;
  background-color: #4e2683;
  font-size: 16px;
  font-weight: bold;
  color: white;
}


.your-button-container button {
  width: 17%;
  height: 45px;
  background-color: #4e2683;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.custom-table {
border: 1px solid black;
background-color: #E2E2E2;
width: 97%;
margin-bottom: 3.5rem;
margin-left: 1rem;
margin-top: 1rem;
}

.custom-table th {
text-align: center;
height: 50px;
}

.your-tbody input {
  margin: 1rem;
  height: 50px;
  width: 90%;
  border-radius: 7px;
  border: 1px solid #E2E2E2;
  background-color: #FFFFFF;
}

.your-tbody td {
  border: 1px solid black;
}

.your-tbody td:last-child {
  width: 10%;
}


input[type="radio"] {
  margin-right: 0px;
  margin-left: 5px;
}


.submitbtn{
  margin-right: 15px;
    background-color: #4e2683;
    border: none;
    color: white;
}
.primaryTableLabel label {
  margin-bottom: 2px;
  margin-right: 70px;
  width: 220px;
  text-align: right;
  font-weight: 400;
  margin-left: -1rem;
}
.contactinfo label {
  margin-bottom: 22px;
  margin-right: 70px;
  width: 290px;
  text-align: right;
  font-weight: 400;
  margin-left: -1rem;
}

.contactinfo textarea {
  width: 50%;
  height: 60px;
  resize: none;
  margin-bottom: 22px;
  box-sizing: border-box;
}
.customSelect {
  height: 33px;
  border: 1px solid #B5B5B5;
  border-radius: 0px;
  padding-left: 5px;
  background-color: white;

}
.customInput {
   height: 33px;
   border: 1.8px solid #B5B5B5;
   border-radius: 5px;
   padding-left: 10px;
   background-color: white;

}

button.save-btn {
margin-top: 1rem;
margin-right: 2rem;
margin-bottom: 2rem;
margin-left: 1rem;
width: 120px;
height: 45px;
background-color: #4e2683;
font-size: 16px;
font-weight: bold;
color: white;
}

button.save-btn:disabled {
  background-color: #cccccc; /* Change this to the color you want */
}
button.dropdown-btn:disabled {
  background-color: #cccccc; /* Change this to the color you want */
}

/* Apply styles to the dropdown button */
button.dropdown-btn {
margin-top: 1rem;
margin-right: 2rem;
margin-bottom: 2rem;
margin-left: -2rem;
width: 50px;
height: 45px;
background-color: #4e2683;
font-size: 16px;
font-weight: bold;
color: white;
}


.msambstyle a {
margin-top: 1rem;
margin-bottom: 2rem;
margin-left: -18rem;
color: #4e2683;
font-size: 16px;
font-weight: bold;
text-decoration: none; /* Remove underline from the link */
}

/* Apply styles to the back button icon */
.msambstyle a i.fa-solid {
margin-top: 0.5rem;
margin-bottom: 2rem;
margin-right: 0.5rem;
color: black;
}

.column-container {
display: flex; /* Use flexbox layout for columns */
/* justify-content: left; */
}

/* Optionally, you can add styling for each column if needed */
.column-container .primaryTableLabel {
/* Add styles for column items */
margin-bottom:5px; /* Example margin between items */
}




.master-table {
border-collapse: collapse;
width: 30%;
}

.master-table th, .master-table td {
border: 1px solid #ddd;
padding: -5px;
text-align: center;
}

.master-table th {
background-color: #f2f2f2;
}

#formid {
margin-left: -5rem;
}


/* Listing Style */
#exTab6 {
width: 87%;
position: absolute;
right: 0rem;
top: 3rem;
}
#exTab7 {
width: 87%;
position: absolute;
right: 0rem;
top: 5rem;
}
.cardMaster {
/* height:1000px; */
background-color:#F8F8F8;

}
#cards {
margin-Left:3rem;
width:96%;
}
#Heading {
margin-top: 1rem ;
margin-bottom: 0rem;
margin-left: 5rem;
}
.AddHeader {
margin:2rem;
border: 1.5px solid #E8E8E8;
}

.back-link {
color: #4e2683;
font-size: 16px;
font-weight: bold;
}

.add-fil-button {
width: 231px;
height: 45px;
background-color: #4e2683;
font-size: 16px;
font-weight: bold;
color: white;
}

.topNavCSSButton{
  width: 100%;
  display: flex;
}

.buttonCheck{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.caret-button {

height: 45px;
background-color: #4e2683;
font-size: 16px;
font-weight: bold;
color: white;
}


/* action, filter, column row */
.ActionBox {
 justify-content: space-between;
 width: 92%;
 height: 75px ;
 margin-left: 5rem;
 margin-top:0rem;
 display: flex;
}

.ActionButton {
margin-top: 1rem;
margin-right: 2rem;
margin-bottom: 2rem;
margin-left: 0.5rem;
width: 150px;
height: 45px;
background-color: white;
border: 1px solid #4e2683;
font-size: 16px;
font-weight: bold;
color: #4e2683;

}

.ActionIcon {
margin-top: 1rem;
margin-right: 2rem;
margin-bottom: 1.5rem;
 margin-left: -2rem;
 width: 50px;
 height:45px;
 background-color: white;
 border:1px solid #4e2683;
 font-size: 16px;
 font-weight: bold;
 color: #4e2683;
}


.FilterButton {
display: flex;
align-items: center;
justify-content: center;
margin-top: 1rem;
margin-right: -33rem;
margin-bottom: 2rem;
margin-left: 1rem;
width: 130px;
height: 45px;
background-color: white;
border: 1px solid #4e2683;
font-size: 16px;
font-weight: bold;
color: #4e2683;
}

.ColumnButton {
display: flex;
align-items: center;
justify-content: center;
margin-top: 1rem;
margin-right: 7rem;
margin-bottom: 2rem;
margin-left: 0rem;
width: 130px;
height: 45px;
background-color: white;
border: 1px solid #4e2683;
font-size: 16px;
font-weight: bold;
color: #4e2683;
}

.FilterIcon,
.ColumnIcon {
 color: #4e2683;
 margin-right: 0.5rem;
}