/* your-modal-styles.css */

.custom-modal {
    /* Center the modal on the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Add a semi-transparent background */
    /* background-color: rgba(0, 0, 0, 0.5); Adjust the alpha value as needed */
  
    /* Other styles for the modal container */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    z-index: 1000; /* Ensure the modal appears above other content */
  }
  
  .modal-content {
    /* Additional styles for the modal content */
    background-color: #fff; /* Set the background color for the modal content */
    padding: 20px;
    border-radius: 8px;
    width: 30rem;
  }
  
  /* Close button style */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff; /* Set the color for the close icon */
  }
  
  /* Add styles for input fields, buttons, and other elements as needed */
  
/* your-modal-styles.css */

/* Add styles for the button that triggers the modal */
.button-trigger {
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding for better visual appearance */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    font-size: 16px; /* Adjust font size */
    margin: 1rem;
  }
  
  .button-trigger:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
/* your-modal-styles.css */

/* Styles for the overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 999; /* Ensure the overlay appears below the modal */
  }
  
  /* Styles for the modal */
  .custom-modal {
    /* Center the modal on the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Other styles for the modal container */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    z-index: 1000; /* Ensure the modal appears above other content */
  }
  
  /* Modal content styles */
  .modal-content {
    background-color: #fff; /* Set the background color for the modal content */
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Close button style */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff; /* Set the color for the close icon */
  }
  
  /* Button trigger styles */
  .button-trigger {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button-trigger:hover {
    background-color: #45a049;
  }
  