.outputTableToggle{
    width: 80%;
}

.filters{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dropdowns{
    display: flex;
}

table{
    text-align: center;
}

.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }

.ppSelect{
    width: 100%;
    border: 1px solid black;
    text-align: left;
    font-size: 16px;
    padding: 15px;
}