.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .tabs li {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    background-color: #f2f2f2;
  }
  
  .tabs li.active {
    background-color: #fff;
  }
  
  .tab-content-role {
    /* border: 1px solid #ccc; */
    /* border-radius: 0 0 5px 5px; */

    width: 92%;
  }
  